@charset "UTF-8";

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100vw;
    margin-bottom: -10px;
}

a{
    display: block;
    
    font-size: 25px;
    text-decoration: none;
    text-align: center;

    color: white;
    background-color: darkred;

    padding: 15px;
}

a:hover{
    background-color: rgb(163, 0, 0);
}